body{
    text-align: center;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,224,233,1) 100%);
    background-repeat: no-repeat;
}
#img1{
    width: 250px;
    border-radius: 50%;
}
#name{
    text-shadow: 100px 100px #F8BBDO;
    font-size: 30px;
    font-family: monospace;
}
.sections{
    padding: 20px;
    font-size: 18px;
}